.controlArea {
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0px;
  align-self: flex-end;
}

.sendControls {
  box-sizing: border-box;
  background-color: rgb(236, 236, 236);
  width: 100vw;
  padding: 25px 55px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#message {
  font-size: 1.2rem;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.sendControls button {
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #1982fc;
  padding: 10px;
  cursor: pointer;
}

.dropdown {
  .dropdownBtn {
    display: none;
  }

  .predefinedBtn {
    display: flex;
    flex-direction: row;

    button {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1244px) {
  #message {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #message {
    font-size: 1rem;
    padding: 5px 12px;
    max-width: 70%;
  }

  .sendControls {
    padding: 10px;
    font-size: 1rem;

    button {
      font-size: 0.9rem;
      padding: 10px 10px;
      border-radius: 6px;
    }

    input {
      width: 58%;
    }
  }
}

@media screen and (max-width: 1244px) {
  .dropdown {
    .predefinedBtn {
      display: none;
      flex-direction: column;
      position: absolute;
      bottom: 70%;
      right: 20%;
      background-color: white;
      padding: 20px 30px;
      border-radius: 15px;

      button {
        margin-bottom: 10px;
      }
    }

    .dropdownBtn {
      display: block;
    }
  }

  .dropdown:hover .predefinedBtn {
    display: flex;
  }
}
