.skillCard {
  width: 500px;
  padding: 10px 0px 0px 20px;
  text-align: left;

  .skillHeader {
    display: flex;
    justify-content: flex-start;

    img {
      height: 50px;
    }

    .title {
      align-self: flex-start;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 1.8rem;
      font-weight: 600;
      padding-bottom: 5px;
    }

    strong {
      position: relative;
    }

    strong::before {
      /* Highlight color */
      background-color: rgb(70, 185, 108, 0.7);

      content: "";
      position: absolute;
      width: calc(100% + 4px);
      height: 20%;
      left: -2px;
      bottom: 0;
      z-index: -1;
      transform: rotate(-1.5deg);
    }

    @keyframes titleHover {
      from {
        height: 20%;
      }
      to {
        height: 50%;
      }
    }

    strong:hover::before {
      animation: titleHover 0.2s ease-in;
      animation-fill-mode: forwards;
    }
  }

  .skillContent {
    margin-top: 15px;
    font-size: 1.2rem;
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    padding: 10px 15px;

    .tools {
      margin-top: 20px;
    }
  }
}

@media screen and(max-width:900px) {
}
